@charset "UTF-8";
/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: helveticaltstd-roman; src: url("../fonts/helveticaltstd-roman.eot"); src: url("../fonts/helveticaltstd-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaltstd-roman.woff") format("woff"), url("../fonts/helveticaltstd-roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: helveticaltstd-bold; src: url("../fonts/helveticaltstd-bold.eot"); src: url("../fonts/helveticaltstd-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaltstd-bold.woff") format("woff"), url("../fonts/helveticaltstd-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.2; background: #f9fbfd; }
body ::selection { background: rgba(19, 122, 233, 0.2); }
body ::-moz-selection { background: rgba(19, 122, 233, 0.2); }
body::-webkit-scrollbar { width: 4px; height: 4px; overflow: hidden; background: #e3e3e3; border-radius: 2px; }
body::-webkit-scrollbar-thumb { border-radius: 2px; background: #2e86cd; }
body::-webkit-scrollbar-track-piece { width: 4px; height: 4px; border-radius: 2px; }

a { text-decoration: none; color: #64a1d2; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; }
a:hover { color: #2e86cd; }

.l-layout { position: relative; margin: 0 auto -130px; position: relative; padding: 0 16px; width: 992px; min-height: 100%; height: auto !important; height: 100%; }

.push { clear: both; height: 130px; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.l-container { margin: 0 auto; padding: 0 16px; width: 1008px; }

.header { *zoom: 1; margin-bottom: 28px; }
.header:after { content: " "; display: table; clear: both; }

.header__top { margin-bottom: 26px; padding: 10px 0 4px; border-bottom: 1px solid #d6e2ec; *zoom: 1; }
.header__top:after { content: " "; display: table; clear: both; }
.header__top .header__left { height: 30px; line-height: 30px; }
.header__top a { display: inline-block; vertical-align: middle; }
.header__top .header__select:last-child { margin-right: -16px; }

.header__user, .header__tel, .header__select { display: inline-block; vertical-align: middle; line-height: 1; }

.header__user { position: relative; margin-right: 19px; padding-left: 21px; }
.header__user:before { content: ""; position: absolute; top: -4px; left: 0; background: url('../img/icons-s3bb899c928.png') 0 -1242px no-repeat; width: 14px; height: 14px; }

.header__tel { position: relative; margin: 0 19px 0 78px; padding-left: 20px; }
.header__tel:before { content: ""; position: absolute; top: -4px; left: 0; background: url('../img/icons-s3bb899c928.png') 0 -1140px no-repeat; width: 13px; height: 14px; }

.header__filter__status { margin: 10px 0 0; font-size: 11px; line-height: 13px; max-width: 100%; float: left; *zoom: 1; }
.header__filter__status:after { content: " "; display: table; clear: both; }
.header__filter__status .js-clear-filter { float: right; margin-left: 5px; }
.header__filter__status ul { display: block; overflow: hidden; position: relative; white-space: nowrap; text-overflow: ellipsis; }
.header__filter__status ul li { display: inline; }
.header__filter__status ul li:last-child:after { display: none; }
.header__filter__status ul li:after { content: ","; }

.header__select { color: #768896; }
.header__select span, .header__select .select { display: inline-block; margin-top: -1px; vertical-align: middle; }

.header__main { position: relative; *zoom: 1; }
.header__main:after { content: " "; display: table; clear: both; }
.header__main .header__right { padding-top: 11px; }
.header__main .header__right a { display: inline-block; margin-left: 38px; vertical-align: middle; font-size: 16px; font-family: Arial, sans-serif; text-transform: uppercase; }
.header__main .header__right .header__filter { margin: -11px -7px 0 -1px; }

.header__logo { display: inline-block; margin: 3px 0 0 -3px; vertical-align: middle; margin-right: 14px; background: url('../img/icons-s3bb899c928.png') 0 -427px no-repeat; width: 160px; height: 40px; }

.header__right { float: right; }

.header__left { float: left; }

.header__basket { position: relative; display: inline-block; vertical-align: middle; width: 42px; height: 42px; -webkit-border-radius: 21px; -moz-border-radius: 21px; -ms-border-radius: 21px; -o-border-radius: 21px; border-radius: 21px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__basket:before { content: ""; position: absolute; left: 6px; top: 10px; background: url('../img/icons-s3bb899c928.png') 0 -392px no-repeat; width: 30px; height: 25px; }
.header__basket em { position: absolute; display: none; top: 13px; left: 11px; width: 20px; height: 12px; line-height: 12px; text-align: center; font-style: normal; font-size: 10px; }
.header__basket.is-active { border: 2px solid #80bdee; }
.header__basket.is-active em { display: block; color: white; }
.header__basket.is-active:before { background-position: 0 -1039px; left: 4px; top: 10px; }
.header__basket.is-active:hover { background: #80bdee; }
.header__basket.is-active:hover:before { background-position: 0 -935px; }
.header__basket.is-active:hover em { color: #64a1d2; }

.header__filter { position: relative; display: inline-block; vertical-align: middle; width: 42px; height: 42px; -webkit-border-radius: 21px; -moz-border-radius: 21px; -ms-border-radius: 21px; -o-border-radius: 21px; border-radius: 21px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__filter:before { content: ""; position: absolute; left: 8px; top: 10px; background: url('../img/icons-s3bb899c928.png') 0 -796px no-repeat; width: 26px; height: 26px; }
.header__filter:hover { border: 2px solid #80bdee; }
.header__filter:hover:before { background-position: 0 -864px; left: 6px; top: 8px; }
.header__filter.is-active { background: #80bdee; }
.header__filter.is-active:hover:before { left: 7px; top: 8px; }
.header__filter.is-active:before { left: 9px; top: 10px; background-position: 0 -900px; }

.footer { position: relative; margin: 0 auto; padding: 0 16px; width: 1008px; min-height: 130px; overflow: hidden; z-index: 2; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }

.footer__logo { float: left; background: url('../img/icons-s3bb899c928.png') 0 -517px no-repeat; width: 100px; height: 22px; }

.footer__nav { float: right; }
.footer__nav ul { float: left; width: 190px; line-height: 1.33; }
.footer__nav ul:last-child { width: 160px; }

.sidebar { float: left; margin-bottom: 70px; width: 208px; }

.main { float: left; margin: 0 0 70px 81px; width: 703px; }
.main .main__title { margin-top: -57px; font-size: 16px; text-transform: uppercase; color: #2e86cd; margin-bottom: 37px; }

.select { position: relative; }
.select.is-active .select__text { background: white; border-color: #d6e2ec; }
.select.is-active .select__list { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; visibility: visible; }
.select.is-active .select__list a, .select.is-active .select__list span { padding-top: 6px; padding-bottom: 6px; }

.select__text { position: relative; height: 30px; line-height: 30px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding: 0 25px; border: 1px solid transparent; border-bottom: 0; color: #64a1d2; background: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0; -ms-border-radius: 8px 8px 0 0; -o-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0; }
.select__text:after { content: ""; position: absolute; top: 50%; right: 10px; margin-top: -2px; background: url('../img/icons-s3bb899c928.png') 0 -1361px no-repeat; width: 8px; height: 5px; }
.select__text .icon { position: relative; top: -1px; }

.select__list { position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; top: 100%; left: 0; z-index: 1000; min-width: 100%; padding: 0 0 8px; background: white; border: 1px solid #d6e2ec; border-top: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; -ms-border-radius: 0 0 8px 8px; -o-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px; }
.select__list::-webkit-scrollbar { width: 4px; overflow: hidden; background: #e3e3e3; border-radius: 2px; }
.select__list::-webkit-scrollbar-thumb { border-radius: 2px; background: #2e86cd; }
.select__list::-webkit-scrollbar-track-piece { width: 4px; border-radius: 2px; }
.select__list a, .select__list span { display: block; padding: 0 25px; white-space: nowrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #2e86cd; cursor: pointer; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.select__list a:hover, .select__list span:hover { color: white; background: #80bdee; }
.select__list.has-scroll { overflow-y: auto; max-height: 320px; overflow-x: hidden; }

.select_city .select__text:before { content: ""; position: absolute; left: 9px; top: 5px; background: url('../img/icons-s3bb899c928.png') 0 -987px no-repeat; width: 12px; height: 16px; }

.select_currency, .select_lang { min-width: 80px; }
.select_currency .select__text, .select_lang .select__text { padding: 0 10px; }
.select_currency .select__list a, .select_currency .select__list span, .select_lang .select__list a, .select_lang .select__list span { padding: 0 10px; }

.select_lang .select__text .icon { margin-right: 2px; }
.select_lang .select__text:after { right: 17px; }
.select_lang .icon { margin-right: 7px; }

.input-row { margin-bottom: 6px; }
.input-row label.has-error { display: inline-block; vertical-align: top; padding-top: 7px; margin-left: 3px; font-size: 12px; color: #db616c; }
.input-row label.has-error + .input-wrap__text { display: none; }
.input-row .input { margin-right: 12px; }

.input-row_btn { margin-top: 19px; *zoom: 1; }
.input-row_btn:after { content: " "; display: table; clear: both; }
.input-row_btn .btn { float: left; }

.input-row__info { float: left; margin-right: 16px; width: 160px; font-size: 10px; color: #4c4f5a; line-height: 1; letter-spacing: -0.5px; }
.input-row__info a { display: inline-block; margin-top: 10px; letter-spacing: 0; font-size: 12px; }

.input { display: inline-block; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 7px; height: 26px; width: 161px; font-size: 12px; color: black; border: 1px solid #bebebe; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.input:focus { border-color: #80bdee; -webkit-box-shadow: inset 0 0 0 1px #80bdee; -moz-box-shadow: inset 0 0 0 1px #80bdee; box-shadow: inset 0 0 0 1px #80bdee; }
.input.has-error { border-color: #ed808a; background: #fce7ec; }
.input.has-error:focus { order-color: #ed808a; background: #fce7ec; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.input_textarea { padding: 7px; min-height: 58px; max-height: 100px; resize: vertical; }

.input-wrap_select .select { display: inline-block; vertical-align: top; margin-right: 12px; width: 161px; }

.input-wrap__text { display: inline-block; vertical-align: top; padding-top: 7px; font-size: 12px; color: #768896; }

.input-row_btn-left { margin-top: 19px; *zoom: 1; }
.input-row_btn-left:after { content: " "; display: table; clear: both; }
.input-row_btn-left .btn { float: left; width: 161px; margin-right: 15px; }
.input-row_btn-left .info-text { overflow: hidden; letter-spacing: -0.7px; }

.btn { display: inline-block; padding: 5px 15px 4px; font-size: 12px; text-transform: uppercase; border: 2px solid #7fbded; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; background: white; }

.btn-close { position: absolute; background: url('../img/icons-s3bb899c928.png') 0 -1013px no-repeat; width: 16px; height: 16px; }
.btn-close:hover { background-position: 0 -1190px; }
.btn-close:active { background-position: 0 -1164px; }

.colors-wrap { margin-bottom: 10px; padding: 0 0 0 27px; font-size: 0; text-align: left; }
.colors-wrap .color:first-child { margin-left: 0; }

.color { display: inline-block; vertical-align: middle; margin: 0 2px; width: 16px; height: 16px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-width: 2px; border-style: solid; background: white; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.color.is-white { border: 2px solid #e4e4e4; }
.color.is-black { border-color: black; }
.color.is-black:hover { background-color: black; }
.color.is-red { border-color: #e03a3a; }
.color.is-red:hover { background-color: #e03a3a; }
.color.is-yellow { border-color: #fab32b; }
.color.is-yellow:hover { background-color: #fab32b; }
.color.is-blue { border-color: #56b7fb; }
.color.is-blue:hover { background-color: #56b7fb; }
.color.is-green { border-color: #3fb624; }
.color.is-green:hover { background-color: #3fb624; }
.color.is-active { background-image: url(../img/icons/ok.png); background-position: 50% 50%; background-repeat: no-repeat; position: relative; }
.color.is-active.is-white { background-color: white; }
.color.is-active.is-black { background-color: black; }
.color.is-active.is-red { background-color: #e03a3a; }
.color.is-active.is-yellow { background-color: #fab32b; }
.color.is-active.is-blue { background-color: #56b7fb; }
.color.is-active.is-green { background-color: #3fb624; }

.price { position: relative; display: inline-block; padding: 0 12px 0 28px; height: 24px; border: 2px solid; line-height: 24px; font-family: Arial, sans-serif; color: black; font-size: 12px; text-transform: uppercase; border: 2px solid #7fbded; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
.price em { display: none; }
.price:before { content: ""; position: absolute; top: 6px; left: 9px; background: url('../img/icons-s3bb899c928.png') 0 -1287px no-repeat; width: 13px; height: 10px; }
.price:hover { background: #80bdee; color: white; }
.price:hover:before { background-position: 0 -1326px; }
.price:active { background: #7cb6e5; }
.price.is-active { padding-left: 5px; background: #80bdee; color: white; }
.price.is-active:before { display: none; }
.price.is-active em { display: inline-block; margin-right: 8px; width: 16px; height: 16px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: white; text-align: center; line-height: 16px; color: #80bdee; font-style: normal; }

.var { margin-bottom: 4px; }
.var span, .var .price { display: inline-block; vertical-align: middle; }
.var span { margin-right: 6px; font-size: 12px; font-family: Arial, sans-serif; color: black; }

.btn-clear { position: absolute; background: url('../img/icons-s3bb899c928.png') 0 -1070px no-repeat; width: 16px; height: 16px; }
.btn-clear:hover { background-position: 0 -1216px; }

.key { display: inline-block; margin: 0 16px 16px 0; padding: 0 2px; width: 112px; height: 32px; line-height: 28px; border: 1px solid #7fbded; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 0 0 1px #7fbded; -moz-box-shadow: inset 0 0 0 1px #7fbded; box-shadow: inset 0 0 0 1px #7fbded; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background: white; text-align: center; font-size: 12px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Arial, sans-serif; text-transform: none; }
.key.is-active { background: #7fbded; color: white; }
.key.is-inactive { cursor: default; color: #768896; border: 1px solid #8c9aa6; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.key .color { margin: 0; }

.box { border: 1px solid #d5e1eb; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-shadow: inset 0 0 0 1px rgba(127, 189, 237, 0); -moz-box-shadow: inset 0 0 0 1px rgba(127, 189, 237, 0); box-shadow: inset 0 0 0 1px rgba(127, 189, 237, 0); }
.box:hover { border-color: #7fbded; -webkit-box-shadow: inset 0 0 0 1px #7fbded; -moz-box-shadow: inset 0 0 0 1px #7fbded; box-shadow: inset 0 0 0 1px #7fbded; }

.box_message .box__btn { text-align: center; margin: 5px 0 15px; }

.box__main { padding: 15px; }

.box__title { margin-bottom: 20px; font-size: 11px; text-transform: uppercase; font-family: Verdana, sans-serif; font-weight: bold; color: #575050; }

.box__footer { padding: 21px 0 14px; text-align: center; border-top: 1px solid #d6e2ec; }
.box__footer .btn { margin: 14px 0 0; color: black; }
.box__footer .btn:first-child { margin: -4px 0 3px; padding: 5px 10px 4px; }

.box_fixed-width { width: 344px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #768896; line-height: 1.33; }
.box_fixed-width .box__order { margin-bottom: 13px; color: #575050; text-transform: none; font-size: 15px; font-family: Verdana, sans-serif; font-weight: bold; }
.box_fixed-width p { margin-bottom: 10px; }
.box_fixed-width .info-text { margin-top: 19px; }

.box_nav { padding: 17px 18px 3px; }
.box_nav .key { display: block; width: 100%; }
.box_nav .box__title { margin-bottom: 15px; }

.box_basket { position: relative; border-color: #7fbded; -webkit-box-shadow: inset 0 0 0 1px #7fbded; -moz-box-shadow: inset 0 0 0 1px #7fbded; box-shadow: inset 0 0 0 1px #7fbded; }
.box_basket .box__main { padding: 19px 15px 0; }
.box_basket .box__title { margin-bottom: 19px; }
.box_basket .popup { top: -1px; left: -1px; right: -1px; }
.box_basket .box { padding-top: 10px; border: 0; }
.box_basket .box:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.message { position: relative; margin-bottom: 20px; padding: 9px 33px; background: #d5b21c; color: white; font-family: Arial, sans-serif; line-height: 1.33; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.message:before { content: ""; position: absolute; left: 9px; top: 7px; background: url('../img/icons-s3bb899c928.png') 0 -1114px no-repeat; width: 16px; height: 16px; }

.info-text { color: #4c4f5a; font-size: 10px; line-height: 1; letter-spacing: -0.5px; }

.badge { position: relative; display: inline-block; padding-left: 30px; min-width: 144px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; text-align: left; color: white; font-size: 10px; height: 27px; letter-spacing: -0.5px; line-height: 27px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.badge:before { content: ""; position: absolute; }
.badge.is-progrees { background: #d5b21c; }
.badge.is-progrees:before { left: 10px; top: 5px; background: url('../img/icons-s3bb899c928.png') 0 -1114px no-repeat; width: 16px; height: 16px; }
.badge.is-complete { background: #a2c60d; }
.badge.is-complete:before { left: 9px; top: 8px; background: url('../img/icons-s3bb899c928.png') 0 -1266px no-repeat; width: 14px; height: 11px; }

.select { position: relative; }
.select .input { position: absolute; left: 0; right: 0; line-height: 26px; }
.select .input:after { content: ""; position: absolute; top: 50%; margin-top: -2px; right: 9px; background: url('../img/icons-s3bb899c928.png') 0 -1361px no-repeat; width: 8px; height: 5px; }
.select.is-active .input { border-color: #80bdee; -webkit-box-shadow: inset 0 0 0 1px #80bdee; -moz-box-shadow: inset 0 0 0 1px #80bdee; box-shadow: inset 0 0 0 1px #80bdee; }
.select.is-active .input:after { background-position: 0 -1346px; }
.select select { position: relative; width: 100%; height: 26px; z-index: 2; opacity: 0; cursor: pointer; }

.radio-wrap { margin-bottom: 10px; }

.radio { position: relative; min-height: 16px; display: inline-block; }

.radio__input { position: absolute; left: 0; top: 0; width: 16px; height: 16px; opacity: 0; }
.radio__input:checked + .radio__text:before { border: 2px solid #7fbded; }
.radio__input:checked + .radio__text:after { display: block; }

.radio__text { display: inline-block; position: relative; vertical-align: middle; padding-left: 24px; color: black; font-size: 12px; }
.radio__text span { display: block; color: #8596a3; }
.radio__text:before { content: ""; position: absolute; top: 0; left: 0; width: 16px; height: 16px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 50%; border: 1px solid #d5e1eb; }
.radio__text:after { content: ""; display: none; position: absolute; left: 5px; top: 5px; width: 6px; height: 6px; border-radius: 50%; background: #7fbded; }

.icon { display: inline-block; vertical-align: middle; }

.icon-azn { background: url('../img/icons-s3bb899c928.png') 0 -1096px no-repeat; width: 10px; height: 8px; }

.icon-ru { background: url('../img/icons-s3bb899c928.png') 0 -966px no-repeat; width: 16px; height: 11px; }

.icon-en { background: url('../img/icons-s3bb899c928.png') 0 -549px no-repeat; width: 16px; height: 11px; }

.icon-az { background: url('../img/icons-s3bb899c928.png') 0 -591px no-repeat; width: 16px; height: 11px; }

.icon-de { background: url('../img/icons-s3bb899c928.png') 0 -612px no-repeat; width: 16px; height: 11px; }

.icon-ua { background: url('../img/icons-s3bb899c928.png') 0 -652px no-repeat; width: 16px; height: 11px; }

.icon-kaz { background: url('../img/icons-s3bb899c928.png') 0 -570px no-repeat; width: 16px; height: 11px; }

.icon-mol { background: url('../img/icons-s3bb899c928.png') 0 -633px no-repeat; width: 16px; height: 9px; }

.has-open-filter .items-wrap { float: left; width: 720px; }
.has-open-filter .items-wrap .item:nth-child(5n) { margin-right: 0; }
.has-open-filter .items-wrap .item:nth-child(7n) { margin-right: 16px; }
.has-open-filter .filter { float: right; display: block; }

.overlay { display: none; position: fixed; top: 0; right: 0; left: 0; bottom: 0; z-index: 10000; background: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

.popup { position: absolute; display: none; top: 45px; left: 16px; padding: 17px; z-index: 20000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: white; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
.popup .btn-close { top: -5px; right: -5px; }

.popup_no-padding { padding: 0; }

.popup__title { margin-bottom: 12px; font-size: 16px; font-weight: normal; font-family: Verdana, sans-serif; font-weight: bold; color: #575050; }

.popup__item { border-top: 1px solid #d6e2ec; padding: 7px 11px 8px; color: #575050; *zoom: 1; }
.popup__item:after { content: " "; display: table; clear: both; }
.popup__item:first-child { border-top: 0; }
.popup__item a { float: left; margin-right: 17px; }
.popup__item span { font-family: Verdana, sans-serif; font-weight: bold; }
.popup__item .basket-item { overflow: hidden; font-size: 12px; }

.filter { position: relative; display: none; padding: 10px 3px; z-index: 20000; width: 272px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid #7fbded; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background: white; }
.filter .btn-close { top: -6px; right: -6px; }

.filter__title { position: relative; height: 30px; margin-bottom: 2px; padding-right: 30px; padding-left: 11px; overflow: hidden; font-size: 16px; cursor: pointer; background-color: #80bdee; border-radius: 3px; color: white; font-family: Arial, sans-serif; line-height: 30px; }
.filter__title .filter__title-wrap { display: inline-block; }
.filter__title .filter__title-wrap::first-letter { font-weight: bold; }
.filter__title.ui-slider__range { background-color: white; color: black; }
.filter__title.ui-slider__range::first-letter { font-weight: normal; }
.filter__title .btn-clear { width: 16px; line-height: 0; font-size: 0; height: 16px; background-color: white; border-radius: 100%; position: relative; display: inline-block; vertical-align: middle; margin-right: 8px; background-image: url(../img/icons/close-active.png); background-position: 50% 50%; background-repeat: no-repeat; top: -1px; }
.filter__title.ui-slider__range, .filter__title.is-active { background-color: white; color: black; }
.filter__title.ui-slider__range .btn-clear, .filter__title.is-active .btn-clear { background-color: #80bdee; background-image: url(../img/icons/close-passive.png); }

.filter__opt { padding: 5px 0 3px 11px; font-size: 0; }
.filter__opt .key { box-shadow: none; margin: 0 7px 8px 0; width: 116px; padding: 0; }
.filter__opt .key.is-inactive { background-color: #ececec; color: #8c9aa6; border-color: #ececec; }

.filter__opt_color .key { width: 24px; height: 24px; border-radius: 100%; border-width: 2px; margin-right: 16px; }
.filter__opt_color .key.is-white { border: 2px solid #e4e4e4; }
.filter__opt_color .key.is-black { border-color: black; }
.filter__opt_color .key.is-black:hover { background-color: black; }
.filter__opt_color .key.is-red { border-color: #e03a3a; }
.filter__opt_color .key.is-red:hover { background-color: #e03a3a; }
.filter__opt_color .key.is-yellow { border-color: #fab32b; }
.filter__opt_color .key.is-yellow:hover { background-color: #fab32b; }
.filter__opt_color .key.is-blue { border-color: #56b7fb; }
.filter__opt_color .key.is-blue:hover { background-color: #56b7fb; }
.filter__opt_color .key.is-green { border-color: #3fb624; }
.filter__opt_color .key.is-green:hover { background-color: #3fb624; }
.filter__opt_color .key.is-active { background-image: url(../img/icons/ok-big.png); background-position: 50% 50%; background-repeat: no-repeat; position: relative; }
.filter__opt_color .key.is-active.is-white { background-color: white; }
.filter__opt_color .key.is-active.is-black { background-color: black; }
.filter__opt_color .key.is-active.is-red { background-color: #e03a3a; }
.filter__opt_color .key.is-active.is-yellow { background-color: #fab32b; }
.filter__opt_color .key.is-active.is-blue { background-color: #56b7fb; }
.filter__opt_color .key.is-active.is-green { background-color: #3fb624; }

.ui-widget-content { position: relative; }

.ui-widget { position: absolute; left: 0; right: 5px; top: 4px; height: 3px; border-radius: 2px; background: #d5e1eb; }

.ui-slider__main { position: relative; margin-left: 7px; height: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.ui-slider_width .ui-slider__main { width: 100%; }

.ui-slider__min, .ui-slider__max { position: absolute; bottom: -15px; font-size: 10px; color: #6c6c6c; }

.ui-slider-handle { position: absolute; z-index: 2; top: -9px; width: 16px; height: 16px; border: 2px solid #7fbded; border-radius: 10px; background: white; -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); margin-left: -11px; }

.ui-slider-range { position: absolute; z-index: 1; top: 0; left: 0; height: 3px; border-radius: 2px; background: #7fbded; }

.ui-slider__top { margin-bottom: 12px; color: #5c584b; font-size: 12px; }
.ui-slider__top span, .ui-slider__top .input { display: inline-block; vertical-align: middle; }
.ui-slider__top .input { height: 28px; width: 73px; padding: 0 7px; font-size: 13px; font-weight: bold; }

.ui-slider__range { margin-bottom: 22px; color: black; }
.ui-slider__range div, .ui-slider__range .input { display: inline-block; vertical-align: middle; }
.ui-slider__range .input { width: 75px; }
.ui-slider__range .input_from { margin-right: 10px; }

.title { margin: 17px 0 12px; font-size: 16px; font-family: Verdana, sans-serif; font-weight: bold; color: #575050; }

.items-wrap { margin-bottom: 70px; *zoom: 1; }
.items-wrap:after { content: " "; display: table; clear: both; }

.item { float: left; position: relative; margin: 0 16px 16px 0; padding: 20px 0 12px; width: 128px; height: 365px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1.4; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background: white; font-size: 12px; font-family: Arial, sans-serif; color: #575050; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); text-align: center; }
.item.is-active { z-index: 20000; }
.item .colors-wrap { padding: 0; text-align: center; }
.item:nth-child(7n) { margin-right: 0; }
.item:nth-child(7n) .item__popup { left: auto; right: 0; }
.item:nth-child(7n) .item__popup .item { float: right; margin: 0 0 0 20px; }
.item .item__del { position: absolute; top: -5px; right: -5px; }

.item__name { height: 32px; overflow: hidden; }

.item__name, .item__brand { padding: 0 5px; }
.item__name a, .item__brand a { color: #575050; }

.item__img { display: block; margin: 12px auto 10px; width: 100px; position: relative; text-align: center; height: 208px; }
.item__img:hover { text-decoration: none; }
.item__img:hover span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; visibility: visible; }
.item__img img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; height: auto; }
.item__img span { position: absolute; visibility: hidden; top: 50%; left: 50%; margin: -40px 0 0 -40px; width: 80px; height: 80px; font: normal 12px Arial, sans-serif; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; color: white; font-size: 9px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; background: rgba(0, 0, 0, 0.6); }
.item__img i { display: block; margin: 16px auto 8px; background: url('../img/icons-s3bb899c928.png') 0 -832px no-repeat; width: 32px; height: 22px; }

.item__popup { left: 0; top: 0; padding: 0 14px 24px; width: 297px; }
.item__popup .item { margin: 0 20px 0 0; padding-bottom: 4px; width: 100px; height: auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.item__popup .colors-wrap { padding-left: 0; }
.item__popup .item__name a, .item__popup .item__brand a { color: black; }
.item__popup .item-info { margin-top: 62px; }

.item-info { overflow: hidden; text-align: left; line-height: 1.33; }
.item-info ul { margin-bottom: 13px; }

.hyperlink { display: inline-block; clear: both; font-family: Arial, sans-serif; font-size: 12px; }
.hyperlink i { position: relative; top: -1px; display: inline-block; vertical-align: middle; background: url('../img/icons-s3bb899c928.png') 0 -1307px no-repeat; width: 9px; height: 9px; }

.basket-item { margin-bottom: 20px; }
.basket-item:last-child { margin-bottom: 14px; }
.basket-item .color, .basket-item div { display: inline-block; vertical-align: top; }

.article { margin: 0 0 70px 288px; width: 490px; font-family: Arial, sans-serif; color: #575050; }
.article p { margin: 18px 0; }
.article ul { margin: 18px 0; }
.article li { position: relative; padding-left: 8px; }
.article li:before { content: "•"; position: absolute; left: 0; top: -3px; font-size: 15px; }
.article b, .article strong { font-family: Verdana, sans-serif; font-weight: bold; font-weight: normal; }

.article__title { font-size: 16px; font-family: Verdana, sans-serif; font-weight: bold; }

.faq { margin: 0 0 14px; width: 432px; border: 1px solid transparent; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; color: dimgrey; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-shadow: inset 0 0 0 1px rgba(127, 189, 237, 0); -moz-box-shadow: inset 0 0 0 1px rgba(127, 189, 237, 0); box-shadow: inset 0 0 0 1px rgba(127, 189, 237, 0); }
.faq.faq-ask { margin-top: 32px; }
.faq.is-active { border-color: #d5e1eb; background: white; }
.faq.is-active:hover { border-color: #7fbded; -webkit-box-shadow: inset 0 0 0 1px #7fbded; -moz-box-shadow: inset 0 0 0 1px #7fbded; box-shadow: inset 0 0 0 1px #7fbded; }

.faq__title { padding: 9px 15px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background: #7fbded; -webkit-box-shadow: 0 1px 0 #d9dbdc; -moz-box-shadow: 0 1px 0 #d9dbdc; box-shadow: 0 1px 0 #d9dbdc; font-family: Arial, sans-serif; color: white; cursor: pointer; font-size: 12px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.faq__title.is-active { padding: 15px 15px 0; color: #575050; text-transform: none; font-size: 16px; font-family: Verdana, sans-serif; font-weight: bold; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.faq__main { padding: 15px 15px 12px; line-height: 1.4; }

.table-title { margin: 17px 0 12px; font-size: 16px; font-family: Verdana, sans-serif; font-weight: bold; color: #575050; }

.table { text-align: center; text-transform: uppercase; background: white; }
.table td, .table th { padding: 2px 7px; border: 1px solid #d6e2ec; height: 25px; vertical-align: middle; }
.table td:last-child, .table th:last-child { text-align: right; }
.table td { font-size: 11px; color: black; }
.table th { color: #768896; font-size: 10px; font-weight: normal; }
.table th:last-child { padding-right: 31px; }
.table table { text-transform: none; color: #575050; }
.table table td, .table table th { border: 0; }
.table table th { text-transform: uppercase; border-bottom: 1px solid #d6e2ec; }
.table strong { font-family: Verdana, sans-serif; font-weight: bold; }

.table_order tr { cursor: pointer; }
.table_order td { vertical-align: middle; }
.table_order td:first-child { width: 80px; }
.table_order td:nth-child(2) { width: 129px; }
.table_order td:last-child { padding-right: 3px; }

.table__details { display: none; cursor: default; font-size: 12px; }
.table__details > td { padding: 0 !important; }
.table__details tr { cursor: default; }
.table__details tr:first-child td { padding-top: 15px; padding-bottom: 20px; }
.table__details td, .table__details th { padding: 0; text-align: center; }
.table__details td:first-child, .table__details th:first-child { text-align: left; }
.table__details td:last-child, .table__details th:last-child { padding-right: 3px; text-align: center; }
.table__details th { padding-top: 3px !important; }
.table__details td { border-top: 1px solid #d6e2ec !important; padding: 17px 0; vertical-align: top; font-size: 12px; }
.table__details .table__item1 { padding: 15px 0 0 24px; width: 247px !important; text-align: left; }
.table__details .table__item1 a, .table__details .table__item1 div { display: inline-block; line-height: 1.33; vertical-align: middle; }
.table__details .table__item1 div { margin-left: 6px; }
.table__details .table__item2 { width: 64px !important; }
.table__details .table__item3, .table__details .table__item7 { width: 97px !important; font-size: 12px; }
.table__details .table__item4 { width: 137px !important; }
.table__details .table__item6 { padding-left: 24px; }
.table__details .table__item6 div { display: inline-block; vertical-align: middle; width: 225px; }
.table__details .btn { color: black; }

.icon-car { display: inline-block; margin-right: 10px; background: url('../img/icons-s3bb899c928.png') 0 -477px no-repeat; width: 61px; height: 30px; vertical-align: middle; }

.profile { padding: 20px 15px; }
.profile .input { width: 100%; }
.profile .btn { display: block; margin: 23px auto 17px; width: 118px; }

.profile__title { margin-bottom: 13px; font-size: 12px; font-family: Verdana, sans-serif; font-weight: bold; text-transform: uppercase; color: #575050; }

.address { margin: 22px 0 -7px; position: relative; }
.address .btn-close { right: -5px; top: -5px; }

.address__title { display: block; width: 100%; margin-bottom: 6px; padding: 0 9px; height: 27px; background: #7fbded; border: 1px solid #7fbded; line-height: 25px; color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); }
.address__title.is-active { background: none; border: 1px solid #bebebe; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: black; }

button.address__title { margin-top: 22px; }

.step { overflow: hidden; margin-bottom: 25px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; }

.step__item { position: relative; float: left; width: 25%; padding: 2px 0; text-align: center; background: #d6e2ec; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; font-size: 10px; color: #768896; }
.step__item:last-child:after { display: none; }
.step__item:after { content: ""; position: absolute; top: 0; right: -10px; background: url('../img/icons-s3bb899c928.png') 0 -703px no-repeat; width: 10px; height: 16px; z-index: 100; }
.step__item:before { content: ""; position: absolute; right: -8px; top: 0; width: 0px; height: 0px; border-style: solid; border-width: 8px 0 8px 8px; border-color: transparent transparent transparent #d6e2ec; }
.step__item.is-active { z-index: 5; background: #80bdee; color: white; }
.step__item.is-active:before { width: 0px; height: 0px; border-style: solid; border-width: 8px 0 8px 8px; border-color: transparent transparent transparent #80bdee; }

.step__1 { z-index: 6; }
.step__1.is-active { z-index: 10; }

.step__2 { z-index: 3; }
.step__2.is-active { z-index: 9; }

.step__3 { z-index: 2; }
.step__3.is-active { z-index: 8; }

.step__4 { z-index: 1; }

.step-content { position: relative; width: 350px; border: 2px solid #80bdee; background-color: #80bdee; }
.step-content .faq__title { -webkit-box-shadow: none; box-shadow: none; }
.step-content.is-active { background-color: white; }
.step-content .js-register-link { position: absolute; left: 190px; top: 18px; }

.pay-wrap { width: 60%; }

.pay { display: inline-block; vertical-align: top; margin: 0 13px 17px 0; width: 80px; height: 80px; text-align: center; line-height: 80px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background: white; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13); -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.pay:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.pay i { display: inline-block; vertical-align: middle; }

.pay_visa i { background: url('../img/icons-s3bb899c928.png') 0 -142px no-repeat; width: 73px; height: 31px; }

.pay_web i { background: url('../img/icons-s3bb899c928.png') 0 -80px no-repeat; width: 67px; height: 52px; }

.pay_ym i { background: url('../img/icons-s3bb899c928.png') 0 -183px no-repeat; width: 62px; height: 18px; }

.pay_qiwi i { background: url('../img/icons-s3bb899c928.png') 0 -211px no-repeat; width: 40px; height: 67px; }

.pay_amex i { background: url('../img/icons-s3bb899c928.png') 0 0 no-repeat; width: 70px; height: 70px; }

.pay_pall i { background: url('../img/icons-s3bb899c928.png') 0 -346px no-repeat; width: 72px; height: 36px; }

.pay_del i { background: url('../img/icons-s3bb899c928.png') 0 -477px no-repeat; width: 61px; height: 30px; }

.pay_mail i { background: url('../img/icons-s3bb899c928.png') 0 -288px no-repeat; width: 48px; height: 48px; }

.pay-info { font-size: 10px; color: #4c4f5a; }
