.select
	position: relative
	&.is-active
		.select__text
			background: #fff 
			border-color: $border
		.select__list
			+opacity(1)
			visibility: visible
			a,span
				padding-top: 6px
				padding-bottom: 6px
.select__text
	position: relative
	height: 30px
	line-height: 30px
	cursor: pointer
	+unselectable  
	padding: 0 25px   
	border: 1px solid transparent
	border-bottom: 0
	color: $blue 
	background: none 
	+tr(all .2s linear)
	+border-radius(8px 8px 0 0)
	&:after
		content: ""
		position: absolute
		top: 50%
		right: 10px
		margin-top: -2px
		+s(select) 
	.icon
		position: relative
		top: -1px
.select__list
	position: absolute
	+opacity(0)
	visibility: hidden
	top: 100%
	left: 0
	z-index: 1000
	min-width: 100%
	padding: 0 0 8px 
	background: #fff 
	border: 1px solid $border
	border-top: 0
	+box
	+tr(all .2s linear)
	+border-radius(0 0 8px 8px)
	+scrollbar
		width: 4px
		overflow: hidden
		background: #e3e3e3 
		border-radius: 2px
	+scrollbar-thumb
		border-radius: 2px
		background: $blue_dark
	+scrollbar-track-piece 
		width: 4px 
		border-radius: 2px
	a, span
		display: block
		padding: 0 25px 
		//overflow: hidden
		white-space: nowrap
		//text-overflow: ellipsis 
		+box
		color: $blue_dark
		cursor: pointer
		+tr(all .2s linear)
		&:hover
			color: #fff
			background: #80bdee  
	&.has-scroll
		overflow-y: auto
		max-height: 320px
		overflow-x: hidden
 
.select_city
	.select__text
		&:before
			content: ""
			position: absolute
			left: 9px
			top: 5px
			+s(point) 
.select_currency,
.select_lang
	min-width: 80px
	.select__text
		padding: 0 10px 
	.select__list
		a,span
			padding: 0 10px
.select_lang
	.select__text
		.icon
			margin-right: 5px
	.icon
		margin-right: 7px
	
.input-row
	margin-bottom: 6px		
	label.has-error
		display: inline-block
		margin-left: 3px
		vertical-align: middle
		font-size: 12px
		color: $red
		+ .input-wrap__text
			display: none
	.input
		margin-right: 12px  
.input-row_btn
	margin-top: 19px  
	+clr
	.btn
		float: left   
.input-row__info
	float: left
	margin-right: 16px
	width: 160px
	font-size: 10px
	color: #4c4f5a 
	line-height: 1
	letter-spacing: -.5px 
	a
		display: inline-block
		margin-top: 10px
		letter-spacing: 0
		font-size: 12px 
.input
	display: inline-block
	vertical-align: middle
	+box
	padding: 0 7px 
	height: 26px
	font-size: 12px
	color: #000 
	border: 1px solid #bebebe
	+border-radius(4px)  
	//+tr(all .2s linear)
	&:focus
		border-color: #80bdee
		+box-shadow(inset 0 0 0 1px #80bdee)
	&.has-error
		border-color: #ed808a
		background: #fce7ec
		&:focus
			order-color: #ed808a
			background: #fce7ec
			+box-shadow(none)

.input_popup
	width: 161px
.input-wrap__text
	display: inline-block
	vertical-align: middle
	font-size: 12px
	color: $gray 

.btn
	display: inline-block
	padding: 5px 15px 4px
	font-size: 12px
	text-transform: uppercase
	border: 2px solid #7fbded
	+border-radius(14px)
	background: #fff 
.btn-close
	position: absolute
	+s(close)
	&:hover
		+sp(close-h)
	&:active  
		+sp(close-act)

.colors-wrap
	margin-bottom: 10px
	padding: 0 0 0 14px 
	font-size: 0	
	text-align: left
	.color
		&:first-child
			margin-left: 0
.color
	display: inline-block
	vertical-align: middle
	margin: 0 4px
	width: 12px
	height: 12px
	+box
	border-width: 2px
	border-style: solid 
	background: #fff 
	+border-radius(50%)
	
	&.is-white
		border: 2px solid #e4e4e4
	&.is-black
		border-color: #000
		&:hover
			background: #000
	&.is-red
		border-color: #e03a3a
		&:hover
			background: #e03a3a
	&.is-yellow
		border-color: #fab32b
		&:hover
			background: #fab32b
	&.is-blue
		border-color: #56b7fb
		&:hover
			background: #56b7fb
	&.is-green
		border-color: #3fb624
		&:hover
			background: #3fb624
	&.is-active
		position: relative
		&.is-white
			background: #fff 
		&.is-black
			background: #000
		&.is-red
			background: #e03a3a
		&.is-yellow
			background: #fab32b
		&.is-blue
			background: #56b7fb
		&.is-green
			background: #3fb624 
			
.price
	position: relative
	display: inline-block
	padding: 0 12px 0 28px
	height: 20px
	border: 2px solid 
	line-height: 20px
	+roman
	color: #000
	font-size: 12px
	text-transform: uppercase
	border: 2px solid #7fbded
	+border-radius(14px)
	+tr(none)
	em
		display: none
	&:before
		content: ""
		position: absolute
		top: 4px
		left: 7px
		+s(price)
	&:hover
		background: #80bdee 
		color: #fff 
		&:before
			+sp(price-h)  
	&:active
		background: #7cb6e5 
	&.is-active
		padding-left: 5px
		background: #80bdee 
		color: #fff 
		&:before
			display: none
		em
			display: inline-block
			margin-right: 8px
			width: 16px
			height: 16px
			+border-radius(50%)
			background: #fff
			text-align: center
			line-height: 16px
			color: #80bdee
			font-style: normal
.var
	margin-bottom: 4px
	span,
	.price
		display: inline-block
		vertical-align: middle
	span
		margin-right: 6px
		font-size: 12px
		+roman
		color: #000 
		
.btn-clear
	position: absolute
	+s(clear)
	&:hover
		+sp(clear-h)

.key
	display: inline-block
	margin: 0 16px 16px 0 
	padding: 0 2px 
	width: 112px
	height: 32px
	line-height: 28px
	border: 2px solid #7fbded
	+border-radius(4px)
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	background: #fff
	text-align: center
	font-size: 12px
	+box
	+roman
	text-transform: none
	&.is-active
		background: #7fbded 
		color: #fff  
	&.is-inactive
		cursor: default
		color: $gray 
		border: 1px solid #8c9aa6

.box

	border: 1px solid #d5e1eb
	+border-radius(8px)
	background: #fff
	+tr(all .2s linear)
	+box-shadow(inset 0 0 0 1px rgba(#7fbded,0)) 
	&:hover
		border-color: #7fbded 
		+box-shadow(inset 0 0 0 1px #7fbded)
.box__main
	padding: 15px 
.box__title
	margin-bottom: 20px
	font-size: 12px
	text-transform: uppercase
	+bold
	color: #000 
.box__footer
	padding: 21px 0 14px 
	text-align: center
	border-top: 1px solid #d6e2ec 
	.btn
		margin: 14px 0 0 
		color: #000 