.has-open-filter
	.items-wrap
		float: left
		width: 720px
		.item
			&:nth-child(5n)
				margin-right: 0
			&:nth-child(7n)
				margin-right: 16px
	.filter
		float: right
		display: block
.overlay
	display: none
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 10000
	background: #000
	+opacity(.1)
	//background: rgba(#000, .1) 
.popup
	position: absolute
	display: none
	top: 45px
	left: 16px
	padding: 17px
	z-index: 20000
	+box
	background: #fff  
	+border-radius(8px)
	+box-shadow(0 0 15px rgba(0,0,0,.3))
	.btn-close
		top: -5px
		right: -5px
.popup_no-padding
	padding: 0
.popup__title
	margin-bottom: 12px
	font-size: 16px
	font-weight: normal
	+bold 
	color: $brown 
  
.popup__item
	border-top: 1px solid #d6e2ec 
	padding: 7px 11px 8px
	color: $brown
	+clr
	&:first-child
		border-top: 0
	a
		float: left
		margin-right: 17px
	span
		+bold
	.basket-item
		overflow: hidden
		font-size: 12px
.filter
	position: relative
	display: none
	padding: 14px 
	z-index: 20000
	width: 272px
	+box
	border: 2px solid #7fbded
	+border-radius(8px)
	background: #fff
	.btn-close
		top: -6px
		right: -6px
.filter__title
	position: relative 
	margin-bottom: 12px
	padding-right: 30px
	overflow: hidden
	font-size: 16px
	cursor: pointer
	+roman
	color: #458fd0
	.btn-clear
		right: 0
		top: 0
	&.is-active
		color: #000 
.filter__opt
	font-size: 0
	margin-right: -20px
.filter__opt_color
	.key
		width: 48px
